/* Bebop admin style sheet */
#bebop_admin_container {
	min-height:400px;
	width:100%;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	border:0px solid #00FF00;
	margin:91px auto 0 auto;
	border:0px solid #000000;
}
#bebop_admin_container a {
	text-decoration:none;
	color:#aaaaaa;
}
#bebop_admin_container a:hover {
	text-decoration:underline;
}

.bebop_error_box, .bebop_success_box {
	display:inline-block;
	position:absolute;
	top:0;
	min-width: 175px;
	margin:0;
	padding:5px 10px;
	text-align:center;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	z-index:5;
}
.bebop_error_box {
	background:#FF6A6A;
}
.bebop_success_box {
	background:#E1FFD6;
}
.bebop_admin_box, .postbox h3, .bebop_admin_menu a {
	background-image:linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
    background-image:-o-linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
    background-image:-moz-linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
    background-image:-webkit-linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.30, #eeeeee), color-stop(0.70, #e5e5e5));
    background-image:-ms-linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
}
.bebop_admin_box {
    padding:10px;
    border:1px solid #dddddd;
    font-size:16px;
    font-weight:normal;
    line-height:45px;
    margin:0 auto;
    min-height:100px;
    border-radius:7px;
    width:96.5%;
}

.bebop_logo {
	float:left;
}

.postbox-container {
	width:50%;
}
.postbox {
	margin:22px 30px 0px 30px;
	border-radius:7px;
    background:#eeeeee;
    padding:0px;
    text-align: justify;
}
.postbox h3 {
	padding:10px;
	font-size: 16pt;
	margin:0;
    font-weight:normal;
}
.postbox.inside {
	padding:0px 2px 8px 2px;
}
.postbox a {
	text-decoration:none;
}

.full_width {
	width:97%;
}
.center_margin {
	margin-left:auto;
	margin-right:auto;
}

.bebop_admin_menu {
	display:inline-block;
	position:absolute;
	z-index:1;
    width:100%;
	top:0;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    margin:27px auto 0 auto;
    height:auto;
    border-bottom:5px solid #eeeeee;
    text-align:center;
}
.bebop_admin_menu a {
	display:inline-block;
    padding:10px;
    margin-right:4px;
    background-color:#D9D9D9;
    color:#000000;
    text-decoration:none;
    font-size:16px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-left:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
    border-top:1px solid #dfdfdf;
    cursor: pointer;
}
.bebop_admin_menu a:hover {
    background-color:#000000;
    color:#000000;
    background-image:linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-o-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-moz-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-webkit-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.5, #FBEC5D), color-stop(0.5, #FFFACD));
    background-image:-ms-linear-gradient(bottom, #FBEC5D 30%, #FFFACD 70%); 
}
.bebop_admin_menu .activetab,.bebop_admin_menu .activetab:hover {
    background-color:#444444;
    color:#ffffff;
    background-image:linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image:-o-linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image:-moz-linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image:-webkit-linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image:-ms-linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #000000), color-stop(0.5, #444444));
}
.bebop_table, .bebop_settings_table {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    background-color:#ffffff;
    width:97%;
    border:1px solid #cecece;
    border-radius:7px;
    border-spacing:0;
    margin:0 auto;
}
.bebop_table tr.nodata:hover {
	background:inherit;
}
.bebop_table tr:hover {
	background:#eeeeee;
}
.bebop_table td, .bebop_table th, .bebop_settings_table td, .bebop_settings_table th {
    padding:8px;
    text-align:center;
    margin:0px;
}
.bold {
	font-weight:bold;
}
.bebop_settings_table th {
	font-weight:normal;
	font-size:25px;
	border-bottom:1px solid #cecece;
	padding:10px;
	text-align:left;
}

.bebop_table a {
    text-decoration:none;
    color:#000000;
}
.width_98 {
	width:98.5%;
}
.margin-bottom_22px {
	margin-bottom:22px;
}
.bebop_admin_form {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    background-color:#ffffff;
    width:97%;
    border:1px solid #cecece;
    border-radius:7px;
    border-spacing:0;
    margin:0 auto 22px auto;
    padding:0px 0px 5px 0px;
}
.bebop_admin_form legend {
	width:100%;
	position:relative;
	font-weight:normal;
	font-size:25px;
	line-height:25px;
	border-bottom:1px solid #cecece;
	padding:0;
	margin:0;
	text-align:left;
}
.bebop_admin_form span.header {
	display:inline-block;
	padding:5px 10px;
}

.bebop_admin_form label {
	display:inline-block;
	width:45%;
	text-align:right;
	margin:5px 0;
	padding:5px;
	border:0px solid #000;
}
.bebop_admin_form input {
	padding:5px;
	margin:5px 0;
}
.bebop_button_container {
	text-align:center;
}
.bebop_admin_form button {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size:15px;
	margin:10px auto 10px auto;
	padding:10px;
	text-align:center;
	background-image:linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-o-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-moz-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-webkit-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.5, #FBEC5D), color-stop(0.5, #FFFACD));
    background-image:-ms-linear-gradient(bottom, #FBEC5D 30%, #FFFACD 70%); 
	border:1px solid #FBEC5D;
	border-radius:4px;
}
.bebop_admin_form button:active {
	margin-top:13px;
	margin-bottom:7px;
}