/* Bebop admin style sheet */
#bebop_admin_container {
	min-height:400px;
	width:100%;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}
#bebop_admin_container a {
	text-decoration:none;
	color:#aaaaaa;
}
#bebop_admin_container a:hover {
	text-decoration:underline;
}

.bebop_error_box {
    padding:15px;
    border:1px solid #EE5C42;
    background-color:#FF6A6A;
    color:#000000;
    font-size:13px;
    width:50%;
    margin:22px auto;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.bebop_admin_box, .postbox h3, .bebop_admin_menu a {
	background-image:linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
    background-image:-o-linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
    background-image:-moz-linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
    background-image:-webkit-linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.30, #eeeeee), color-stop(0.70, #e5e5e5));
    background-image:-ms-linear-gradient(bottom, #eeeeee 30%, #e5e5e5 70%);
}
.bebop_admin_box {
    padding:10px;
    border:1px solid #dddddd;
    font-size:16px;
    font-weight:normal;
    line-height:45px;
    margin:0 23px 0 0;
    min-height:100px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
.bebop_logo {
	float:left;
}

.postbox-container {
	width:49.5%;
}
.postbox {
	margin:22px 11px 0px 11px;
	 border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    background:#eeeeee;
    padding:0px;
    text-align: justify;
}
.postbox h3 {
	padding:10px;
	font-size: 16pt;
	margin:0px;
    font-weight:normal;
}
.postbox.inside {
	padding:0px 2px 8px 2px;
}
.postbox a {
	text-decoration:none;
}

.bebop_admin_menu {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    margin-top:22pt;
    margin-bottom:22pt;
    height:37px;
    border-bottom:5px solid #eeeeee;
    text-align:center;
}
.bebop_admin_menu a {
    padding:10px;
    margin-right:4px;
    background-color:#D9D9D9;
    color:#000000;
    text-decoration:none;
    font-size:16px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    border-left:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
    border-top:1px solid #dfdfdf;
    cursor: pointer;
}
.bebop_admin_menu a:hover {
    background-color:#000000;
    color:#000000;
    background-image:linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-o-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-moz-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-webkit-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.5, #FBEC5D), color-stop(0.5, #FFFACD));
    background-image:-ms-linear-gradient(bottom, #FBEC5D 30%, #FFFACD 70%); 
}
.bebop_admin_menu .activetab,.bebop_admin_menu .activetab:hover {
    background-color:#444444;
    line-height:35px;
    color:#ffffff;
    background-image:linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image:-o-linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image:-moz-linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image:-webkit-linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image:-ms-linear-gradient(bottom, #000000 50%, #444444 50%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #000000), color-stop(0.5, #444444));
}

.bebop_table {
    background-color:#ffffff;
    width:99%;
    border:1px solid #cecece;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-collapse:collapse;
}
.bebop_table tr.nodata:hover {
	background:inherit;
}
.bebop_table tr:hover {
	background:#eeeeee;
}
.bebop_table td, .bebop_table th {
    padding:8px;
    text-align:center;
    margin:0px;
}
.bebop_table a {
    text-decoration:none;
    color:#000000;
}
.width_98 {
	width:98.5%;
}
.margin-bottom_22px {
	margin-bottom:22px;
}
