#bebop_user_container {
	min-height:200px;
	width:100%;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	border:0px solid #00FF00;
	margin:0 auto;
	border:0px solid #000000;
}
#bebop_user_container a, #bebop_user_container a:hover {
	color:#000000;
}
#bebop_user_container  h4 {
	padding:0px;
	margin:0;
}
.standard_button {
	display:inline-block;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size:15px;
	margin:10px auto 10px auto;
	padding:10px;
	text-align:center;
	background-image:linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-o-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-moz-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-webkit-linear-gradient(bottom, #FBEC5D 50%, #FFFACD 50%);
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.5, #FBEC5D), color-stop(0.5, #FFFACD));
    background-image:-ms-linear-gradient(bottom, #FBEC5D 30%, #FFFACD 70%); 
	border:1px solid #FBEC5D;
	border-radius:4px;
	text-decoration:none;
	color:#000000;
}
.standard_button:hover {
	color:#000000;
}
.standard_button:active {
	margin-top:13px;
	margin-bottom:7px;
}

.bebop_user_form {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	width:100%;
	font-size:12px;
	margin:0 auto;
	padding:0;
	border:0px solid #000;
}
.bebop_user_form fieldset {
	margin:0 auto;
	padding:0 auto;
	border:0;
}
.bebop_user_form label {
	display:inline-block;
	width:50px;
	text-align:right;
	margin-right:5px;
}
.bebop_user_form input[type=radio] {
	margin:2px auto;
}

.width_90 {
	width:90% !important;
}
.bebop_user_table {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	width:100%;
	font-size:12px;
	margin:0 auto;
	padding:0;
	border:0px solid #000;
}
.bebop_user_table th {
	font-size:16px;
	text-align:center;
}
.checkbox_container {
	display:block;
	height:20px;
}
.checkbox {
	text-align:center;
	height:14px;
	width:100%;
	margin-top:3px;
}